@import "../Shared/Colors";

div.mdc-dialog__surface.add-project-dialog,
.add-project-dialog {
  background-color: $primary-color;
  
  color: white;
  font-family: "Roboto Light", serif;
  
  &__title {
    color: white !important;
    font-family: "Roboto Light", serif !important;
  }
  &__form {
    row-gap: 10px;
    
    div:nth-of-type(1) {
      column-gap: 10px;
    }
    
    label {
      background-color: $primary-selected;
    }
    
    div.mdc-text-field-helper-text {
      color: white !important;
      font-weight: 650;
    }
  }

  &__actions {
    &__button {
      color: white !important;
      font-family: "Roboto Light", serif !important;
    }
  }
}