<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpDA27922DC39ABEE4AED51766786E4CFD" Guid="{75E8C861-48C9-40E6-A2DE-465F97FDC01E}">
                <File Id="fil35A245A4D0EADE39BA1ACE4C3747CE4D" KeyPath="yes" Source="$(var.BasePath)\Autofac.dll" />
            </Component>
            <Component Id="cmp32AD3969778E366EAA354B0511E9E60C" Guid="{CB2E9119-CD92-49B5-B3C1-BC6FACA47ED1}">
                <File Id="fil6732DCEDE1DB73868A8050B6F0A5A2DE" KeyPath="yes" Source="$(var.BasePath)\ComponentFactory.Krypton.Design.dll" />
            </Component>
            <Component Id="cmp5070347B7A4B7E376F65C6CE1F6A95ED" Guid="{AF9A8242-8A88-4A6F-8239-2CD119933007}">
                <File Id="filD1948BD96BE7640EDDC071E83612313E" KeyPath="yes" Source="$(var.BasePath)\ComponentFactory.Krypton.Docking.dll" />
            </Component>
            <Component Id="cmp4ED0BAE316DECC71D0F5179377348C1F" Guid="{844362BE-A1B0-415F-ACD7-C96C08AA6A03}">
                <File Id="fil27A550A168C33FA7C8D43684A6C8CDD7" KeyPath="yes" Source="$(var.BasePath)\ComponentFactory.Krypton.Navigator.dll" />
            </Component>
            <Component Id="cmpCC71E60631629BB016C006055A62FB79" Guid="{1D8646E8-0849-4ED4-A36E-DE822A4E42A5}">
                <File Id="fil5EACCCC6F56882AB374EE8DFC4FC4487" KeyPath="yes" Source="$(var.BasePath)\ComponentFactory.Krypton.Ribbon.dll" />
            </Component>
            <Component Id="cmpCFAE42E8E15BFA3F7D40C8914D71A159" Guid="{9A0C8E01-7FC1-449D-A7CD-B4EADBD61B2C}">
                <File Id="filE212B53898B69DC7EA15CA00E2548583" KeyPath="yes" Source="$(var.BasePath)\ComponentFactory.Krypton.Toolkit.dll" />
            </Component>
            <Component Id="cmp7012A388659B1242C6D7301F261E3EE1" Guid="{675CA556-8D79-418A-B225-AF54FFFBF351}">
                <File Id="filEDB26E2A9BE90394C571F9ACD05218B5" KeyPath="yes" Source="$(var.BasePath)\ComponentFactory.Krypton.Workspace.dll" />
            </Component>
            <Component Id="cmpEC4DB6288585F4295C83D26582A1AD61" Guid="{6855AC88-BDBE-4FF0-9F22-EFC81723D420}">
                <File Id="fil93E3E49151D61808CE5C4EB5120C043D" KeyPath="yes" Source="$(var.BasePath)\DotNetZip.dll" />
            </Component>
            <Component Id="cmp6B9A5388FE4B357F7D71331C040593DC" Guid="{4809A193-6E9F-4DA6-B471-044812724562}">
                <File Id="fil5FD1CAD3C536E898AB5730FA1A444105" KeyPath="yes" Source="$(var.BasePath)\DynamicData.dll" />
            </Component>
            <Component Id="cmpC13B9AC36E2C5C4CCA0F8C1FA89049E1" Guid="{5C24B31F-E892-4288-B6A2-77A6AF389206}">
                <File Id="fil0AE98F5C2CD5D0FB7780BC3C292E4549" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.Common.dll" />
            </Component>
            <Component Id="cmp062316E04A522FFD84C9502BD1C8A88C" Guid="{1FCD7B9F-0196-4DB0-98C8-D9E5899843DC}">
                <File Id="filF96B7C8CE9E9DC59D957CB3391633832" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.Common.pdb" />
            </Component>
            <Component Id="cmp57C52EFA7723FDD95F8D2A4B7EBC176C" Guid="{D7BD2462-456A-4131-8D34-CE174A3E3C77}">
                <File Id="filAE6AF9D77E6F6E9872812CDF6B4A67B9" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.Contracts.dll" />
            </Component>
            <Component Id="cmpDC01C98929F154E88FEFDC9B94EE37D1" Guid="{16CA7BA2-CFEE-43A8-B123-2A47D2EE56B1}">
                <File Id="fil950518A7B20F3EC1E8E59A567A1B4E27" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.Contracts.pdb" />
            </Component>
            <Component Id="cmp46990333D35CD8021394F27B2AD93417" Guid="{5361A23B-2407-4B50-BAF5-77FDF2369951}">
                <File Id="fil9FA5712AFA468300FEA2EF95C9FFB2C2" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.DataAccess.Contracts.dll" />
            </Component>
            <Component Id="cmp7C9ED039539770B1851D20E1ED3F9640" Guid="{FA5C423B-ACAF-4740-ABF7-42A4964E399B}">
                <File Id="filA7FDD23D673BD1C3009483906A6568C6" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.DataAccess.Contracts.pdb" />
            </Component>
            <Component Id="cmp289721ED5E1ADC7F2AF19AED4C1D6B17" Guid="{A5C609AA-E92C-4C3E-A052-F4CF7A0BF665}">
                <File Id="filBE0AEC581F4AB4BE7D851C4938C2F4B6" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.DataAccess.dll" />
            </Component>
            <Component Id="cmp436F94AD7A207880BB85C6DE7C4ED9A8" Guid="{C4CAEEE5-1AC4-49EB-B00A-299BBDC38068}">
                <File Id="fil98CBA3B2186C34A38DC05D75EA8FBD33" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.DataAccess.pdb" />
            </Component>
            <Component Id="cmp39C8FDCB253721B31754C81B3DF034DB" Guid="{F1FFA4A3-FB6B-4153-9759-3157FFC8C240}">
                <File Id="fil81834CFA01AF5FDC972558CA109CD38C" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.deps.json" />
            </Component>
            <Component Id="cmpD0D8D30F237BEA6DEADFDB81B1F75ABC" Guid="{DA47FEAF-F890-4A8D-801E-8B335E6846EB}">
                <File Id="fil55DA3D96B70F6CBF17D188998DF273B2" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.dll" />
            </Component>
            <Component Id="cmpF685B2269AF02DF260B61CCB37DA5D64" Guid="{9607AEA9-BE5A-4D2A-92F0-1FE57E1D7892}">
                <File Id="fil7365F6AA8518FECF187650BA0B8902E7" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.exe" />
            </Component>
            <Component Id="cmpCB0BCF3D98AC08D261E6C74B9C1180F7" Guid="{9FBF43D0-46BE-4145-9731-2557C9F2F901}">
                <File Id="fil17DDDAA2274601257504AB41C3709704" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.pdb" />
            </Component>
            <Component Id="cmp9AD7C0A49AE9226D56FFB95420B00405" Guid="{5E984ADC-71B3-47DB-9063-A72228D64E20}">
                <File Id="fil9CD366C3228BAF36B3011AE7F02387B8" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.runtimeconfig.json" />
            </Component>
            <Component Id="cmpF64BDBE871977DC22D32748BD6A075EF" Guid="{B3557B4D-B022-4DF6-936B-5E01320C3A7F}">
                <File Id="filD88EC68D69A33B2BFEB8FC596C9CD890" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.WinForms.dll" />
            </Component>
            <Component Id="cmpC3F6981F16CD55A7559BF1787610D12D" Guid="{6B50C212-1409-4A6A-BB13-552FBE6D2A92}">
                <File Id="fil910CF51D49D75EA1C18C8463BFF00551" KeyPath="yes" Source="$(var.BasePath)\HydroModTools.WinForms.pdb" />
            </Component>
            <Component Id="cmp0BBCF1D5FD760B1E311670E59C2D1E84" Guid="{AEBBD3A0-B03B-4220-BA41-8605FF14A6CC}">
                <File Id="fil3E7C8B764AEE2AFF664F4940B4D56957" KeyPath="yes" Source="$(var.BasePath)\hydroneer.ico" />
            </Component>
            <Component Id="cmp6C36974A0EA2E9B5CFE90BF192DD9FEC" Guid="{65AA94B0-EC5E-4167-9F5E-82BE5EBCA83B}">
                <File Id="fil56C639442413B27E97C5DB9778C20599" KeyPath="yes" Source="$(var.BasePath)\Markdig.dll" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{B71A1299-C37B-4D56-B7F3-029DBEF03EA3}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" Guid="{A75DDA17-4329-4FF5-9CD8-E050787B5019}">
                <File Id="fil52FC3D526CBD9DC330C6FE3380563F0C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" Guid="{7FFD62A1-EFB8-4C12-8D9B-11ED0559F628}">
                <File Id="filB3B34A4CDA6A327AC31CAD64389BC80C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{21DA936A-8CFE-4CB3-A774-188BA7B296D1}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp695DF09F0E9EE30558F8C6D16553F843" Guid="{07534A58-EC50-467F-A97B-8D0CFE2AA7A6}">
                <File Id="filEAA27D91AD78E3FCD8BA846C92752BAA" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="{375E6215-7A9F-4494-B595-C7D9C1EB0B4A}">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="{6045D135-66D9-4A50-9EA2-A23D1BB8D6A2}">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" Guid="{C30755B9-C999-405F-B403-2A8BA822EEA7}">
                <File Id="fil867F166CDED00C699F6B217A4FC42957" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="{D1C67E22-8550-4363-A3E7-9B7A8A790783}">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="{96C45F77-CE57-481D-BB30-4E5F65ABC80A}">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp828BABCAA179DFEF8C123894E628FE4B" Guid="{EE53958E-76EF-4850-8E7D-598F25D36438}">
                <File Id="filF6E569B7A4467871DC459846AD8CAB0C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyModel.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="{2435C4F9-EC05-4A18-950E-547AB614F686}">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="{8A5963FA-5413-463E-BBD8-45404C10144F}">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="{1665709D-4F9D-44DC-87C4-9293C48ED2F1}">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpB96239F931804879A085E057C6E72657" Guid="{A796ADB8-70F3-4610-AE17-1B62B5070AF6}">
                <File Id="filFE47041DFF0F714E6C7D801D2D2C140A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" Guid="{C0E81D30-A1B2-4AB1-BC70-75D6AE2FB722}">
                <File Id="filD0586081609434942EDB53299EF52D71" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="{2A6ECAD1-D211-4E9C-BB69-0618D4D79534}">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp9B211F39744547E733F9040027FF1A3B" Guid="{C981C9D3-A430-4D31-8AF6-EB4E0853888E}">
                <File Id="filC6D4BDB43CC150D24C5E1BDE9EB552F7" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" Guid="{E332D93E-F24D-4200-B10A-5DAC810A7BC2}">
                <File Id="filA347F900C2828DE2F50C35BDA8F5CE44" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp591239506CAB75D331DE5D90D6713057" Guid="{005B40B2-11E1-455A-A9AF-8DD3EC1EFC18}">
                <File Id="fil1CB90B4A15160F351B5EB5D2DED1B050" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp835034F744990576E31C2DBC7C9293BF" Guid="{DC791E5D-5419-49BB-92F2-D7BB3EBA4DB4}">
                <File Id="fil71DD299EE7649E964200A4127797D1C0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp3D087D80699D13BCB013A8533A2C0DCF" Guid="{DC6E30EC-6C25-40F1-86F9-15ACB9F21645}">
                <File Id="filA050696110EF79DCA5E76B6513E54FB2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp63493859708989EE0F11F5DF7347E61A" Guid="{BF6D7585-1CBB-42A0-8571-07FB2578A8FD}">
                <File Id="filBF2F378F474FFE2ABA30A373F8BB00C0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpF5D2F2D913749765205DC918BD981CD0" Guid="{FE4171AB-BA7C-41D3-8B25-7B63B4B39BC7}">
                <File Id="fil3F5CF8D11C3311A25D3082B99A709528" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp3279C150AE8DF554FD7EEE2085672A2B" Guid="{F86EE1C0-790B-4842-A514-BB652549C583}">
                <File Id="filA8D1F5D61FD7BC25099F707CBF5B1F24" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{9827E60E-DC88-4CEB-98E4-525600C196B3}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp3E4F3E4686A9B425B5812E5171CCDEEF" Guid="{D98F8B31-F643-4540-8F30-75601A5A236F}">
                <File Id="fil24DC60A8CFEFE326A0444D71C66806C1" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Registry.dll" />
            </Component>
            <Component Id="cmp16861E24C897764CA922EC062BA74EC9" Guid="{C5509FB4-D9F9-48E7-A8CA-92DD66B5F01D}">
                <File Id="filD8E300ACBEFE74B5C24D4D06DCE96AAC" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.SystemEvents.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{7188E836-C3F8-48FD-B6EF-0900C8491BE7}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpE77FFBD13485D1D6013AFDFF8F90B8D8" Guid="{9D4EF898-0475-4189-89E5-335A996037AD}">
                <File Id="fil601804DD57BA24670691582F325A1612" KeyPath="yes" Source="$(var.BasePath)\Pharmacist.Common.dll" />
            </Component>
            <Component Id="cmp13BF0B306E5BC0FAEEC2E175B5F7E550" Guid="{C971B88F-B9A5-4C9B-A3DC-3C8401C3FA68}">
                <File Id="filF27C2CA500C212B26C23CCA32448AAC5" KeyPath="yes" Source="$(var.BasePath)\PostSharp.dll" />
            </Component>
            <Component Id="cmpD28C36CEB3500D89F6610413712A0D73" Guid="{74B609A1-831A-4962-BE38-F0A2E2391520}">
                <File Id="filECBBD5193649AF7C9B0970B504A1D635" KeyPath="yes" Source="$(var.BasePath)\ReactiveUI.dll" />
            </Component>
            <Component Id="cmpACD185FFFBA371925842AEA1250FA5D2" Guid="{B96BA0CA-1F90-4FD8-9248-C69D08FE86ED}">
                <File Id="fil0767447EE9D205907254A97CABF99BD0" KeyPath="yes" Source="$(var.BasePath)\ReactiveUI.Events.Winforms.dll" />
            </Component>
            <Component Id="cmpC216433D222121B3CB6F6C1BB16722D4" Guid="{6C9654ED-E0B8-4196-B7EF-C33047DACB42}">
                <File Id="fil01EB6744F8B6D8F614CCC451E0538991" KeyPath="yes" Source="$(var.BasePath)\ReactiveUI.Winforms.dll" />
            </Component>
            <Component Id="cmp991E79D636248B3C312581D50BEDCD7F" Guid="{692073D4-4EBB-4A47-98A9-B040407B73CF}">
                <File Id="fil4D9726473255C80F5158CC789E259797" KeyPath="yes" Source="$(var.BasePath)\Readme.md" />
            </Component>
            <Component Id="cmpCFAD64CB95A5C29E33B490F8F8D1BDD5" Guid="{621CB7EB-9F50-4C33-B657-E61E53DF7E0E}">
                <File Id="filD62407A3F03EBC123925DEA518B679DF" KeyPath="yes" Source="$(var.BasePath)\Scrutor.dll" />
            </Component>
            <Component Id="cmpECC0DB43D675D3354C308FED694EB2A4" Guid="{E8740C6B-CA7C-4819-A1F8-0A164445BD4B}">
                <File Id="fil096A18880498670BA154574207EB2E0F" KeyPath="yes" Source="$(var.BasePath)\Splat.dll" />
            </Component>
            <Component Id="cmpE722E076AB8486E4A4F24B01268787A2" Guid="{79B83380-8A5C-470E-A98A-46A9AB402A88}">
                <File Id="fil92FE767CE7126933F4E9DEEEBAAE9354" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="cmp28DA583D03D243568B9E8D67E28DC03E" Guid="{36DE26E8-6EDC-4E59-9D88-13E43067B363}">
                <File Id="fil7F8EC318E9E8F0F09CC7C081378B6293" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp08EBD8C605FF27A4F0FCEC5A1317087B" Guid="{492AC5ED-5A58-4592-BBAE-092C2708CFE2}">
                <File Id="fil01C46D7B4C6F372B6DD0D0DC961DAE47" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="cmp8E100A18327D40D73A207E32DC2A5DF7" Guid="{9477A77E-5084-40C0-8177-C8C20D108A27}">
                <File Id="fil3EB43006AD1D6A442A5059D2602A1B16" KeyPath="yes" Source="$(var.BasePath)\System.Reactive.dll" />
            </Component>
            <Component Id="cmp1CACC900AE8CC42B7DCC354D1408B638" Guid="{A77779A6-B7AB-407B-977E-6871528F1287}">
                <File Id="filC84B08004410A279F837F55580C0500F" KeyPath="yes" Source="$(var.BasePath)\System.Reactive.xml" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{1051CD0D-B199-4E00-BB51-D69E9EC18409}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpA79A142FCEA412B1ABBD7BE954692F65" Guid="{2AA0E089-7C61-4F89-9152-C70458A57758}">
                <File Id="fil0B3269E73A503751E3461F1BA6DEB094" KeyPath="yes" Source="$(var.BasePath)\System.Security.AccessControl.dll" />
            </Component>
            <Component Id="cmp5CC6136D6E2A90DE115411181360DDDC" Guid="{77E8CAF1-EE7B-4494-BAAE-70BBA65AB2CA}">
                <File Id="fil207371132F5873BD864FD57447824213" KeyPath="yes" Source="$(var.BasePath)\System.Security.Permissions.dll" />
            </Component>
            <Component Id="cmp98A131703008D3AC809721FE16EEAFF8" Guid="{EA7537B1-9B18-4068-B0F7-EE1568B7965D}">
                <File Id="fil50D3CD433FCD76F25C71E81C31B6DD3A" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmp3111300711520E1E5FE2933E642DA29F" Guid="{B2D0ECA6-B640-4F4D-891B-B7CE5FE30394}">
                <File Id="fil1A0D25A762964F5C1F5E598DAE4D7F6C" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.CodePages.dll" />
            </Component>
            <Component Id="cmpA5817A2BB296EF3C39CAFA8A07CD6B59" Guid="{BD255294-16F4-497D-A3A2-E6EB8E641DF5}">
                <File Id="fil1FBF587862F484BB82A1D65565F935B6" KeyPath="yes" Source="$(var.BasePath)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp7A71D580195DAAACCB57D588C484657A" Guid="{6E7AFB64-1FD8-4F97-967E-A543FC76062F}">
                <File Id="fil00EFB213307938756EDF494BE5BB3249" KeyPath="yes" Source="$(var.BasePath)\System.Windows.Extensions.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HydroModTools_Project">
            <ComponentRef Id="cmpDA27922DC39ABEE4AED51766786E4CFD" />
            <ComponentRef Id="cmp32AD3969778E366EAA354B0511E9E60C" />
            <ComponentRef Id="cmp5070347B7A4B7E376F65C6CE1F6A95ED" />
            <ComponentRef Id="cmp4ED0BAE316DECC71D0F5179377348C1F" />
            <ComponentRef Id="cmpCC71E60631629BB016C006055A62FB79" />
            <ComponentRef Id="cmpCFAE42E8E15BFA3F7D40C8914D71A159" />
            <ComponentRef Id="cmp7012A388659B1242C6D7301F261E3EE1" />
            <ComponentRef Id="cmpEC4DB6288585F4295C83D26582A1AD61" />
            <ComponentRef Id="cmp6B9A5388FE4B357F7D71331C040593DC" />
            <ComponentRef Id="cmpC13B9AC36E2C5C4CCA0F8C1FA89049E1" />
            <ComponentRef Id="cmp062316E04A522FFD84C9502BD1C8A88C" />
            <ComponentRef Id="cmp57C52EFA7723FDD95F8D2A4B7EBC176C" />
            <ComponentRef Id="cmpDC01C98929F154E88FEFDC9B94EE37D1" />
            <ComponentRef Id="cmp46990333D35CD8021394F27B2AD93417" />
            <ComponentRef Id="cmp7C9ED039539770B1851D20E1ED3F9640" />
            <ComponentRef Id="cmp289721ED5E1ADC7F2AF19AED4C1D6B17" />
            <ComponentRef Id="cmp436F94AD7A207880BB85C6DE7C4ED9A8" />
            <ComponentRef Id="cmp39C8FDCB253721B31754C81B3DF034DB" />
            <ComponentRef Id="cmpD0D8D30F237BEA6DEADFDB81B1F75ABC" />
            <ComponentRef Id="cmpF685B2269AF02DF260B61CCB37DA5D64" />
            <ComponentRef Id="cmpCB0BCF3D98AC08D261E6C74B9C1180F7" />
            <ComponentRef Id="cmp9AD7C0A49AE9226D56FFB95420B00405" />
            <ComponentRef Id="cmpF64BDBE871977DC22D32748BD6A075EF" />
            <ComponentRef Id="cmpC3F6981F16CD55A7559BF1787610D12D" />
            <ComponentRef Id="cmp0BBCF1D5FD760B1E311670E59C2D1E84" />
            <ComponentRef Id="cmp6C36974A0EA2E9B5CFE90BF192DD9FEC" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" />
            <ComponentRef Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp695DF09F0E9EE30558F8C6D16553F843" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmp828BABCAA179DFEF8C123894E628FE4B" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmpB96239F931804879A085E057C6E72657" />
            <ComponentRef Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp9B211F39744547E733F9040027FF1A3B" />
            <ComponentRef Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" />
            <ComponentRef Id="cmp591239506CAB75D331DE5D90D6713057" />
            <ComponentRef Id="cmp835034F744990576E31C2DBC7C9293BF" />
            <ComponentRef Id="cmp3D087D80699D13BCB013A8533A2C0DCF" />
            <ComponentRef Id="cmp63493859708989EE0F11F5DF7347E61A" />
            <ComponentRef Id="cmpF5D2F2D913749765205DC918BD981CD0" />
            <ComponentRef Id="cmp3279C150AE8DF554FD7EEE2085672A2B" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp3E4F3E4686A9B425B5812E5171CCDEEF" />
            <ComponentRef Id="cmp16861E24C897764CA922EC062BA74EC9" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpE77FFBD13485D1D6013AFDFF8F90B8D8" />
            <ComponentRef Id="cmp13BF0B306E5BC0FAEEC2E175B5F7E550" />
            <ComponentRef Id="cmpD28C36CEB3500D89F6610413712A0D73" />
            <ComponentRef Id="cmpACD185FFFBA371925842AEA1250FA5D2" />
            <ComponentRef Id="cmpC216433D222121B3CB6F6C1BB16722D4" />
            <ComponentRef Id="cmp991E79D636248B3C312581D50BEDCD7F" />
            <ComponentRef Id="cmpCFAD64CB95A5C29E33B490F8F8D1BDD5" />
            <ComponentRef Id="cmpECC0DB43D675D3354C308FED694EB2A4" />
            <ComponentRef Id="cmpE722E076AB8486E4A4F24B01268787A2" />
            <ComponentRef Id="cmp28DA583D03D243568B9E8D67E28DC03E" />
            <ComponentRef Id="cmp08EBD8C605FF27A4F0FCEC5A1317087B" />
            <ComponentRef Id="cmp8E100A18327D40D73A207E32DC2A5DF7" />
            <ComponentRef Id="cmp1CACC900AE8CC42B7DCC354D1408B638" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpA79A142FCEA412B1ABBD7BE954692F65" />
            <ComponentRef Id="cmp5CC6136D6E2A90DE115411181360DDDC" />
            <ComponentRef Id="cmp98A131703008D3AC809721FE16EEAFF8" />
            <ComponentRef Id="cmp3111300711520E1E5FE2933E642DA29F" />
            <ComponentRef Id="cmpA5817A2BB296EF3C39CAFA8A07CD6B59" />
            <ComponentRef Id="cmp7A71D580195DAAACCB57D588C484657A" />
        </ComponentGroup>
    </Fragment>
</Wix>