div.blazor-context-menu.blazor-context-menu__wrapper.context-menu {
  background-color: var(--mud-palette-background) !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0;
  
  ul.blazor-context-menu__list {
    padding: 0;
  }
}