.guids-table,
.uids-table{
  .selected {
    background-color: var(--mud-palette-dark) !important;

    > td {
      color: white !important;

      .mud-input {
        color: white !important;
      }
    }
  }
}