.project-asset-node {
  
}

@import "../Shared/Colors";

.project-asset-node {
  display: flex;
  flex: 0 1 auto;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid red;
  }
  
  span {
    vertical-align: middle;
    margin: auto 0;
  }
  
  &__item {
    padding-left: 10px;
  }
}

div.blazor-context-menu.project-asset-node__menu {
  color: white;
  background: $secondary-color;

  li:hover {
    background-color: $secondary-hover;
  }
}