@import "../Shared/Colors";

.project-item {
  display: flex;
  flex: 0 1 auto;
  height: 30px;
  overflow: hidden;
  margin-bottom: 5px;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid red;
  }
  
  &.selected {
    background-color: $secondary-hover;
  }

  span {
    vertical-align: middle;
    font-size: 24px;
    margin: auto 0;
    padding-left: 15px;
  }
  
  &__name {
    font-size: 20px;
  }
}

div.blazor-context-menu.project-item__menu {
  color: white;
  background: $secondary-color;
  
  li:hover {
    background-color: $secondary-hover;
  }
}