@import "../Shared/Colors";

.guid-tab {
  flex: 1 0 auto;
  
  &__header {
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom:3px solid $primary-selected;
    align-content: stretch;
    flex-wrap: wrap;
    z-index: 1;
    
    >button {
      margin-left: 5px;
    }
  }
  
  &__content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
    
    &__table {
      padding: 10px;
      border-collapse: collapse;
      width: 100%;
      overflow-y: auto;

      &-header {
        padding: 15px 5px;
        position: sticky;
        top: -10px;
        background-color: $secondary-color;
        
        &-name {
          flex-basis: 26%;
        }

        &-retail-uid {
          flex-basis: 37%;
        }

        &-modded-uid {
          flex-basis: 37%;
        }
      }
      
      &-body {
        padding-right: 20px;
      }
    }
  }
}