html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  color: white;
  font-family: "Roboto Light", sans-serif;
  font-weight: 600;
}

.hidden {
  display: none !important;
}

.collapsed {
  height: 0;
}