@using HydroToolChain.Client.Models.Data
@using HydroToolChain.Client.Business.Abstracts

@inject IAppFacade Facade;

<ContextMenuTrigger CssClass="project-asset-node" MenuId="@ContextMenusIds.AssetsContextMenu" Data="@Item">
    <span class="project-asset-node__name">@Item.DisplayName</span>
</ContextMenuTrigger>

@code
{
    [Parameter, EditorRequired]
    public ProjectAssetItem Item { get; set; } = null!;
}
